<% layout('boilerplate') -%>


<h1>This is an ecommerce sammple application </h1>       
<p>Objective of this application is learing various technologies like node.js,react, mongodb, elasticsearch and stripe </p>       
